.error-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .error-page h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .error-page p {
    font-size: 24px;
    color: #666;
  }